node_modules/*
.storybook/*
storybook-static/*
coverage/*
**/node_modules/**/*
**/build/**/*
**/amplify/backend/function/*/node_modules/*
**/amplify/#current-cloud-backend/*
**/amplify/backend/build
**/aws-exports.js
**/graphQlGeneratedTypes.ts
**/src/**
**/lib/nodejs/**
**/dist/**
**/cdk.out/**
**/dist/**
**/__generated__/**
**/test-cloud-assembly.json
**/seed/*.json
test-api-aws-credentials.json
test-aws-credentials.json